body {
  width: 492px;

}
.tab {
  padding: 0px;
  height: 600px;
  font-family: roboto;
  font-size: 1.25em;
  background-color: 
}
#ticker-table tbody tr {
  cursor: pointer;
}
td, th {
  padding: 8px 5px;
}
h1 {
  font-size: 2em;
}


/* Search bar (header) */
/* Credits to https://codepen.io/brycesnyder/pen/rWKZJb */

.searchBarMain {
	background: #fff;
	width: 90%;
  max-width: 680px;
  margin: 0 auto;
	/*height: 42px;*/
  margin-top: 11px;
	border-radius: 2px;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
  /*position: fixed;*/
  /*left: 0;*/
  /*right: 0;*/
  /*top: 0*/
}

.input-field input[type=text]:focus + label {
  color: #000 !important;
}
.input-field input[type=text]:focus {
  border-bottom: 0px solid #000 !important;
  box-shadow: 0 0 0 0 #000 !important;
}

.searchBarMain i.searchBarSearchIcon {
	height: 100%;
	line-height: 42px;
	float: left;
	width: 52px;
	text-align: center;
	color: rgba(68, 68, 68, 0.5);
}

.searchBarMain input#search {
	height: 42px;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	background: transparent;
	width: calc(100% - 85px);
	outline: none;
	/*padding-right: 32px;*/
	font-size: 16px;
	color: rgba(0, 0, 0, 0.76);
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.searchBarMain i.clearSearchBarField {
  position: relative;
  top: 3px;
	color: rgba(0, 0, 0, 0.84);
	display: none;
	font-size: 20px;
}

.searchBarMain i.clearSearchBarField:hover {
	cursor: pointer;
}
