body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}


.table-wrap {
  height: 480px;
  overflow-y: auto;
}

#ticker-table tbody tr {
  cursor:pointer;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) ,url('http://longwallpapers.com/Desktop-Wallpaper/mountain-wallpaper-background-For-Desktop-Wallpaper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.info-section {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  /*float: left;*/
  /*width: 33.333%;*/
  /*padding: .75rem;*/
  margin-bottom: 2rem;
  border: 0;
}

.card-text {
  font-size: 85%;
}

footer {
  padding: 3rem 0;
}

footer p {
  margin-bottom: .25rem;
}


span .fa {
  color: #E90606;
  margin: 0 3px;
  padding: 0 3px;
  font-size: 15px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
